@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
.imagefondo
{
    width: 140%;
    height: 140%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}


.central
{
    top: 60%;
    left: 70%;
    transform: translate(-50%,-50%);
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.imagencentral
{
    display: flex;
    width: 65%;
    height: 40%;
}
.letralogo
{
    margin-top: 11px;
    font-size: 60px;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 3px;
    
}
.parrafologo
{
    
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: Medium;
    font-size: 22px;
    text-align: center;
}
.btnsigui
{
    margin-top: 20px;
    width:220px;
    height: 65px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 25px;
    border-radius: 20px;
    font-family: "Ubuntu Condensed", sans-serif;
}
.enlace
{
    text-decoration: none;
    color: black;
    font-size: 27px;
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 10px;
}
.imageflecha
{
    padding-top: 15px;
    width: 40px;
    height: 40px;
}
