@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
.contenedor
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
body
{
    background-color: #fff;
}
.elipseuno
{
    top: 0;
    left: 0;
    z-index: 1;
    width:70%;
    height:60%;
    margin-bottom: 100%;

}
.elipsedos
{
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 70%;
    height: 60%;
    margin-top: 165%;
    margin-left: 120%;
}
.central
{
    width: 310px;
    top: 50%;
    left: 90%;
    transform: translate(-50%,-50%);
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
}
.imagencentral
{
    display: flex;
    width: 60%;
    height: 50%;
}
.letralogo
{
    margin-top: 11px;
    font-size: 50px;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
.parrafologo
{
    
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    text-align: center;
}
.btnsigui
{
    margin-top: 20px;
    width:207px;
    height: 60px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.enlace
{
    text-decoration: none;
    color: black;
    font-size: 27px;
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 10px;
}
.imageflecha
{
    padding-top: 15px;
    width: 40px;
    height: 40px;
}
@media(min-width:431px)
{
    body
    {
        background-color: rgb(255, 255, 255);
        
    }
    article
    {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .imagencentral
    {
        height: 90%;
        width: 90%;

    }
    .letralogo
    {
        font-size: 85px;
    }
    .elipseuno
    {
        width: 25%;
        height: 25%;
        margin: 0px 10% 52% 0px;
    }
    .elipsedos
    {
        width: 25%;
        height: 25%;
        margin: 50% 0px 0px 10%;
    }
}

