body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  max-width: 350px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Botones */
.button {
  display: block;
  background: #0033cc;
  color: white;
  padding: 10px;
  margin: 10px 0;
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  background: #002bb8;
}

/* Barra de búsqueda */
.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 5px;
  margin: 15px 0;
}

.icon {
  color: gray;
}

.search-input {
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 5px;
  background-color: #ccc;
}

/* Lista de elementos */
.items-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.lab-container {
  max-height: 500px; /* Ajusta la altura según tu necesidad */
  overflow-y: auto; /* Activa el scroll vertical */
  border: 1px solid #ccc; /* Para visualizar el área del scroll */
  padding: 10px;
  scrollbar-width: none;
}
.lab-container::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en Chrome y Safari */
}

.lab-card {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.lab-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}


.lab-item:hover {
  background: #002bb8;
}

.item-image {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 10px;
}

.item-text {
  flex-grow: 1;
}
